/* src/app/(pages)/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --question: #e0d5ec;
    /* --question-font: "JetBrains Mono", sans-serif, "Roboto", "Inter", monospace; */
    --question-font: "JetBrains Monos", "Poppins", sans-serif;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ffffff;
    --question: #0d0712;
  }
}

.question-block h3,
.question-block h4,
.question-block p,
.question-block span,
.question-block div {
  margin: 5px 0 !important;
  color: var(--foreground) !important;
  font-family: var(--question-font) !important;
  text-indent: 0 !important;
  font-size: 12px !important;
  text-wrap: pretty;
}

@media (min-width: 600px) {
  .question-block h3,
  .question-block h4,
  .question-block p,
  .question-block span,
  .question-block div {
    font-size: medium !important;
  }
}

@media (min-width: 900px) {
  .question-block h3,
  .question-block h4,
  .question-block p,
  .question-block span,
  .question-block div {
    font-size: medium !important;
  }
}

@keyframes border-rotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border-rotate {
  background-size: 200% auto;
  animation: border-rotate 3s linear infinite;
}
