/* src/app/(pages)/global.css */

/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

[data-theme="dark"] {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* src/app/(pages)/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --question: #e0d5ec;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ffffff;
    --question: #1a0e25;
  }
}

/* src/index.css */
.question-block h3,
.question-block h4,
.question-block p,
.question-block span {
  margin: 10px 0 !important;
  background-color: var(--question) !important;
  color: var(--foreground) !important;
  font-family: "JetBrains Mono", monospace !important;
  text-indent: 0pt !important;
}

.question-block div {
  color: var(--foreground) !important;
  font-family: "JetBrains Mono", monospace !important;
  text-indent: 0pt !important;
}
